.bookcase {
    background-image: url('../../assets/img/bookcase.png');;
    background-repeat: no-repeat;
    background-size: contain;

    height: 100%;
    width: 100%;

    padding: 2% 2% 5% 2%;

    display: flex;
    flex-direction: column;
    z-index: inherit;

    .shelf {
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: 100%;
        z-index: inherit;
    }
}