

.bookcase-container {
    position: relative;

    img {
        position: relative;
        height: 100%;
    }

    .bookcase {
        height: 100%;
        width: 100%;
        padding: 3% 3% 5% 3%;
        position: absolute;
        top: 0;
    
        .shelf-container {
            padding-bottom: 2%;
            height: inherit;
        }
    
        .shelf-wrapper {
            display: flex;
            flex-direction: column;
            height: inherit;
        }
    
        .shelf {
            display: flex;
            flex-direction: row;
            justify-content: left;
            height: 100%;
            z-index: inherit;
        }
    }
}