.wall {
    height: 100%;
    width: 100%;

    display: flex;

    z-index: 1;

    padding: 10% 10% 5% 10%;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}