.nav-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar button{
    min-width: 48px;
    min-height: 48px;

    z-index: 1100;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}