.book {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    .author-container {
        font-size: 0.3em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 25%;
    }

    .author-title {

    }

    .name-title {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        overflow: hidden;
        font-size: 0.4em;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        justify-content: center;
        word-break: break-all;
        white-space: normal;
        letter-spacing: 0.4px;
/*
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: right top;
        -moz-transform: rotate(90deg);
        -moz-transform-origin: right top;
        -ms-transform: rotate(90deg);
        -ms-transform-origin: right top;
        -o-transform: rotate(90deg);
        -o-transform-origin: right top;
        transform: rotate(90deg);
        transform-origin: right top;
        */
    }

    .settings {
        height: 25%;
        padding: 0% 25% 50% 25%;
        color: white;
        opacity: .2;

        transition: opacity 250ms ease-out;

        &:hover {
            opacity: 1;
        }
    }
    
    .name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

}

.book-container {
    position: relative;
}